* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

//logo superior
.logo-container {
  display: flex;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    .logo {
      width: 100%;
    }
  }
}

//navbar
.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}
//sin hamburguesa navbar al medio
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    margin-right: 0 !important;
  }
}
